body{
    background-color: #CCCCCC;
}

.titulo{
    font-size: 40px
    color: orange;
}

.galinha_header{
    width: 20%
    border-radius: 10px
}

.galinha{
    width: 20%;
    border-radius: 10px
}